<header class="">
    <nav class="container-fluid">
        <div class="container-inner d-flex justify-content-between align-items-center">
            <div class="nav-left d-flex align-items-center">
                <a href="/"><img src="/images/homepage/js.png"></a>
                <ul style="margin-bottom:8px" class="d-flex align-items-center">
                    <li><a href="/">Trang chủ</a></li>
                    <li><a href="/library">Thư viện</a></li>
                    <li><a href="/search">Tìm kiếm</a></li>
                    <li><a href="/news">Tin tức</a></li>
                    <li><a href="/help">Trợ giúp</a></li>
                </ul>
            </div>

            <div class="nav-right d-flex align-items-center">
                <form class="form-inline" style="margin-right:20px">
                    <div class="md-form my-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    </div>
                </form>
                <a class="bell" style="margin-right:20px;margin-left:20px;display:none"><i
                        style="color:#e4b3b3;font-size:25px" class="fa fa-bell"></i></a>
                <a href="#" class="login-btn " data-toggle="modal" data-target="#formLogin">Đăng nhập</a>
                <div class="dropdown hide account-btn">
                    <a class="btn  blue accent-4 dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i style="margin-right:7px" class="fa fa-user"></i> 1753014
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/user">Quản lý tài khoản</a>
                        <a class="dropdown-item" href="/user/borrowwing">Lịch sử mượn sách</a>
                        <a class="log-out-btn dropdown-item" href="/">Đăng xuất</a>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="formLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100 font-weight-bold">Đăng nhập</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body mx-3">
                            <div class="md-form mb-5">
                                <i class="fa fa-envelope prefix grey-text"></i>
                                <input id="username" type="email" id="defaultForm-email" class="form-control validate" style="width:90%" placeholder="Tên đăng nhập">
                                <label data-error="wrong" data-success="right" for="defaultForm-email" ></label>
                            </div>

                            <div class="md-form mb-4">
                                <i class="fa fa-lock prefix grey-text"></i>
                                <input id="password" type="password" id="defaultForm-pass" class="form-control validate"  style="width:90%" placeholder="Mật khẩu">
                                <label data-error="wrong" data-success="right" for="defaultForm-pass"></label>
                            </div>
                            
                            <div style="display:none; color:red" class="noti-err">Đăng nhập thất bại</div>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <button id="loginBtn"  class="btn . btn-default">Login</button>
                        
                        </div>
                        <a href="#" class="text-right">Quên mật khẩu?</a>
                    </div>
                </div>
            </div>

            <!-- Modal -->

            {{!-- <div class="modal fade" id="formLogin" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title text-center">Login</h4>
                        </div>
                        <div class="modal-body">
                            <i class="fa fa-envelope prefix grey-text"></i>
                            <input id="username" type="text" placeholder="Tên đăng nhập">
                             <i class="fa fa-lock prefix grey-text"></i>
                            <input id="password" type="password" placeholder="Mật khẩu">
                            <input id="loginBtn" type="button" value="Đăng nhập">
                            <a href="#" class="text-right">Quên mật khẩu?</a>
                            <div style="display:none; color:red" class="noti-err">Đăng nhập thất bại</div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div> --}}
        </div>
    </nav>

    <div class="banner container">
        <div class="container-inner">
            <img src="/images/homepage/banner.png">
        </div>
    </div>
</header>