{{#ifCond username "===""admin"}}

{{else}}
<link href="https://fonts.googleapis.com/css?family=Fjalla+One|Francois+One|Paytone+One&display=swap" rel="stylesheet">
<header class="">
    <nav class="container-fluid">
        <div class="container-inner d-flex justify-content-between align-items-center">
            <div class="nav-left d-flex align-items-center" id="myNav">
                <a href="/"><img src="/images/logo.png"></a>
                <ul id="navlist" style="margin-bottom:8px" class="d-flex align-items-center">
                    <li class="active"><a class="tab " href="/">Trang chủ</a></li>
                    <li><a class="tab" href="/library">Thư viện</a></li>
                    <li><a class="tab" href="/search">Tìm kiếm</a></li>
                    <li><a class="tab" href="/news">Tin tức</a></li>
                    <li><a class="tab" href="/help">Trợ giúp</a></li>
                </ul>
            </div>

            <div class="nav-right d-flex align-items-center">
                <form id="my-form" style="margin-right:20px" method="GET" action="/search">
                    <input type="search" id="search" name="search" style="outline:none;color: black;" placeholder="Tìm nhanh">
                </form>
                {{#if isLoggedIn}}
                <div class="bell" style="margin-right:10px;margin-left:10px;">
                    <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" style="background-color:transparent;color:aliceblue;">
                        <i style="margin-right:7px; font-size:23px;" class="fa fa-bell"></i>
                    </a>
                    <div  class=" dropdown-menu " aria-labelledby="dropdownMenuLink">
                        <h6  class="dropdown-header">
                        Alerts Center
                        </h6>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-primary">
                            <i class="fa fa-file-alt text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">January 8, 2019</div>
                            <span class="font-weight-bold">Your request was approved by Admin</span>
                        </div>
                        </a>
                        
                        <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                    </div>
                </div>
                <div class="dropdown ">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i style="margin-right:7px "
                            class="fa fa-user"></i>
                        {{username}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/user">Quản lý tài khoản</a>
                        <a class="dropdown-item" href="/user/borrowwing">Lịch sử mượn sách</a>
                        <a class="dropdown-item" href = "/user/reset-password">Đổi mật khẩu</a>
                        <a class="log-out-btn dropdown-item" href="/user/logout">Đăng xuất</a>
                    </div>
                </div>
                {{else}}
                <a href="/user/login" class="login-btn ">Đăng nhập </a>
                {{/if}}

            </div>

        </div>
    </nav>
</header>
{{/ifCond}}




