#library {
    .Tittle {
        clear: both;
        text-align: center;
        margin-top: 5vw !important;
        margin-bottom: 3vw;
    }
    h4 {
        border-style: solid;
        border-width: 1%;
    }
    .content {
        display: grid;
        grid-auto-columns: auto auto auto auto;
        grid-auto-rows: auto auto;
        height: 40vw;
    }
    .banner1 {
        grid-area: 1/1/1/3;
    }
    .banner2 {
        grid-area: 2/1/3/3;
    }
    .banner3 {
        grid-area: 1/3/2/5;
    }
    .banner4 {
        grid-area: 2/3/3/5;
    }
    .img1 {
        width: 40vw;
        height: 15vw;
        padding: 2% 1%;
    }
    .img2 {
        width: 19vw;
        height: 20vw;
    }
    p {
        font-size: 1.5vw;
        padding: 1% 3%;
    }
    a:hover {
        color: blue;
    }
}