<section class="body container">
            <div class="content container-inner">
                    <div class="ruleBorder" style=" background-image: linear-gradient( rgb(255, 183, 0), rgb(244, 247, 112));
                        border: 2px solid black;
                        color: black;
                        border-radius: 7px;
                        width: 300px;
                        height: 50px;
                        margin-bottom: 20px;">

                        <h5 style="text-align: center;padding: 8px 0px; font-family:'Muli', sans-serif;font-weight: 700;">Trợ giúp</h5>
                    </div>
        <div class="row">
            <div class="col-6">
                <div class="item">
                    <h6>Đăng kí lớp hướng dẫn sử dụng thư viện</h6>
                    <p>Hạn cuối đăng kí khoá 2018 vào ngày 20/11/2019.</p>
                </div>
                <div class="item">
                    <h6>Hướng dẫn tra cứu sách</h6>
                    <p>Độc giả có thể tra cứu sách trên trang web online của thư viện hoặc tìm bảng danh mục sách tại quầy lễ tân thư viện</p>
                </div>
                <div class="item">
                    <h6>Gia hạn thẻ</h6>
                    <p>Hạn thẻ quy định trong vòng 6 tháng liên tiếp, vui lòng gia hạn thẻ trước 3 ngày để được đáp ứng sớm nhất</p>
                </div>
                <div class="item">
                    <h6>Liên hệ người quản lí thư viện"</h6>
                    <p>Vui lòng gửi mail đến 'lib@hcmus.vn' để đặt lịch hẹn trong ngày sắp tới</p>
                </div>
            </div>
            <div class="col-6">
                <div class="helpImg" , style="margin:10px 30px">
                    <img style="width:100%" src="/images/help/help.jpg">
                </div>
            </div>
        </div>
    </section>
    <script src='/js/main.js'></script>
