<section class="body container">
    <div class="search-info container-inner">
        <div class="row">
            <div class="col-6 search">
                <h6 class="heading-title">Tìm kiếm nhanh</h6>
<form class="form-inline mr-auto">
  <input style="width:60%" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
  <button class="btn blue-gradient btn-rounded btn-sm my-0" type="submit">Tìm kiếm</button>
</form>
            </div>
            <div class="col-6 info">
                <h6 class="heading-title">Truy cập</h6>
                <ul class="d-flex flex-wrap">
                    <li><a href="/rule">Quy định chung</a></li>
                    <li><a href="/response">Phản hồi</a></li>
                    <li><a>Đề xuất dành cho bạn</a></li>
                    <li><a>Liên hệ với chúng tôi</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="news container-inner">
        <h6 class="heading-title">Tin tức mới</h6>
        <div class="row">
            <div class='col-4'>
                <div class="post">

                    <img src="/images/homepage/post-image.png">
                    <h6 class="title">Công nghệ mới, kỉ nguyên mới</h6>
                    <div class="text-right">09/11/2019</div>
                </div>
            </div>
            <div class='col-4'>
                <div class="post">
                    <img src="/images/homepage/post-image.png">
                    <h6 class="title">Công nghệ mới, kỉ nguyên mới</h6>
                    <div class="text-right">09/11/2019</div>
                </div>
            </div>
            <div class='col-4'>
                <div class="post">
                    <img src="/images/homepage/post-image.png">
                    <h6 class="title">Công nghệ mới, kỉ nguyên mới</h6>
                    <div class="text-right">09/11/2019</div>
                </div>
            </div>
        </div>
    </div>

</section>
<script src="/js/main.js"></script>