   <section style="padding-bottom: 30px;" class="body container">
        <div class="content container-inner">
            <div class="top d-flex justify-content-between">
                <h3 style="margin-top: 20px;" class="heading-title">Tin tức mới </h3>
                <form class="form-inline ">
                <input  class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Tìm kiếm">
                <button class="btn blue-gradient btn-rounded btn-sm my-0" type="submit">Tìm kiếm</button>
                </form>
            </div>
            <div class="list-news">
            </div>
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item ">
                        <a class="page-link" href="#" tabindex="-1">Trước</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item ">
                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Sau</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <script src="/js/news.js"></script>