 <section class="body container">
        <div class="row">
            <div class="col-6">
                <div class="ruleImg" , style="margin:10px 30px">
                    <img src="/images/rule/rule.jpg">
                </div>
            </div>
            <div class="col-6">
                <div class="content container-inner">
                    <div class="ruleBorder">
                        <h5 style="text-align: center;padding: 8px 0px; font-family:'Muli', sans-serif;font-weight: 700;">Quy định chung </h5>
                    </div>
                </div>
                <div class="list-rules">
                    <h3>1. Quy định về việc mượn, trả sách</h3>
                    <p>- Việc mượn, trả sách chỉ dành cho thành viên của thư viện. Các bạn có thể đăng kí thành viên online hoặc liên hệ trực tiếp thư viện trường.<br> - Sau khi đặt lệnh mượn sách, thời gian tối đa từ 2 - 3 ngày, nhân viên thư viện sẽ xác
                        nhận đơn mượn sách và thông báo kết quả qua email đăng kí.<br> - Thành viên nhận sách theo khung giờ đã hẹn, trong thời gian làm việc của thư viện (8:30 sáng - 16:30 chiều mỗi ngày, trừ ngày lễ và chủ nhật).<br>- Mỗi thành viên
                        thư viện có thể mượn tối đa 2 quyển sách.
                        <br>- Nếu quá hẹn trả sách, thành viên cần gia hạn lịch trả online trước 24h so với lịch hẹn đã xác nhận. Nếu không sẽ phải trả phí gia hạn 5% giá trị sách.</p>
                    <h3>2. Quy định về việc bảo quản sách</h3>
                    <p>- Thành viên thư viện cần bảo quản sách trong quá trình mượn. Cần kiểm tra sách khi nhận, nếu có hư hỏng trong quá trình mượn, các bạn có trách nhiệm phải bồi thường tuỳ theo giá trị sách tương ứng.</p>
                </div>
            </div>
        </div>
    </section>
    <script src='/js/main.js'></script>