@import './mixin';
@import './reset';
@import './variable';
@import './Homepage/homepage';
@import './Search/search';
@import './News/news';
@import './Rule/rule';
@import './Help/help';
@import './form-style';
@import './Account/borrowingmanagement';
.container {
    max-width: 1366px !important;
}

.container-inner {
    max-width: 1172px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: $fontFamily-Muli;
}

.account-btn {
    display: none;
}

#homepage,
#search,
#library,
#rule,
#help,
#new,
#response,
#accountmanagement,
#borrowwingmanagement {
    header {
        margin-bottom: 20px;
        background-image: linear-gradient(#A543FF, #7B00FF);
        nav {
            padding: 10px 0px;
            margin-bottom: 15px;
            background-image: linear-gradient(#A543FF, #7B00FF);
            .nav-left {
                img {
                    height: 60px;
                    width: 70px;
                    margin-right: 50px;
                }
                ul {
                    list-style: none;
                    text-decoration: none;
                    li {
                        margin-right: 20px;
                        a {
                            text-decoration: none;
                            font-size: 16px;
                            color: white;
                            font-weight: 600;
                            &:hover {
                                color: $blueDark;
                                text-decoration: none;
                            }
                            &.active {
                                color: $blueDark;
                                &::before {
                                    opacity: 1;
                                    transform: scaleX(1);
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
            .nav-right {
                .login-btn {
                    padding: 5px 15px;
                    font-weight: bold;
                    font-size: 16px;
                    border-radius: 10px;
                    border: 2px solid $blueDark;
                    color: white !important;
                    text-decoration: none;
                    &:hover {
                        // background-image: linear-gradient(#FFD39A, #E46BFF);
                        background-color: #5945FF;
                    }
                }
            }
        }
        .banner {
            img {
                max-width: 1172px;
            }
        }
    }
    footer {
        height: 150px;
        @include flexCustom(flex, center, center);
        background-image: linear-gradient(#A543FF, #7B00FF);
        color: white;
        .content {
            @include flexCustom(flex, center, center);
            flex-direction: column;
        }
    }
}