#new {
    .body {
        .content {
            .top {
                margin-bottom: 20px;
                .heading-title {
                    font-family: 'Noto Sans', sans-serif;
                    line-height: 60px;
                    color: #131254;
                    font-size: 26px;
                    font-weight: bold;
                }
                input {
                    padding: 10px 0px 10px 20px;
                    width: 50%;
                    margin: 0 auto;
                    border-radius: 15px;
                    outline: none;
                }
            }
            .list-news {
                margin-left: 150px;
                .new {
                    width: 100%;
                    margin-top: 30px;
                    margin-bottom: 20px;
                    border: 2px solid black;
                    border-radius: 5px;
                    .new-img {
                        width: 400px;
                        height: 300px;
                        padding: 10px 20px 30px 5px;
                    }
                    .new-info {
                        h1 {
                            margin-left: 70px;
                            padding-top: 20px;
                            @include font(20px, bold, normal, normal);
                            color: $blueDark;
                        }
                        h3 {
                            margin-left: 70px;
                            padding-top: 5px;
                            @include font(16px, bold, normal, normal);
                        }
                        p {
                            margin-left: 70px;
                            padding-top: 5px;
                            @include font(14px, normal, normal, normal);
                            margin-bottom: 30px;
                        }
                        .detailNewBtn {
                            margin-top: 20px;
                            margin-left: 70px;
                            padding: 10px 20px;
                            background-color: $blueDark;
                            color: white;
                            @include font(16px, bold, normal, normal);
                            border-radius: 5px;
                            border: 1px solid black;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}