#search {
    .body {
        .content {
            .top {
                margin-bottom: 20px;
                .heading-title {
                    font-family: 'Noto Sans', sans-serif;
                    line-height: 60px;
                    color: #131254;
                    font-size: 26px;
                    font-weight: bold;
                }
                input {
                    padding: 10px 0px 10px 20px;
                    width: 50%;
                    margin: 0 auto;
                    border-radius: 15px;
                    outline: none;
                }
            }
            .filter {
                .filter-btns {
                    @include flexCustom(flex, center, center);
                }
            }
            .list-books {
                align-items: center;
                margin-left: 150px;
                .book {
                    width: 90%;
                    margin-top: 30px;
                    margin-bottom: 20px;
                    border: 2px solid black;
                    border-radius: 5px;
                    padding: 5px 40px 5px 40px;
                    .book-info {
                        padding-top: 30px;
                        h1 {
                            @include font(24px, bold, normal, normal);
                        }
                        h3 {
                            @include font(16px, bold, normal, normal);
                            color: $blueDark;
                        }
                        .borrowBookBtn {
                            padding: 10px 20px;
                            background-color: $blueDark;
                            color: white;
                            @include font(16px, bold, normal, normal);
                        }
                    }
                }
            }
        }
    }
}