#search {
    .body {
        .content {
            .top {
                margin-bottom: 20px;
                .heading-title {
                    color: $blueDark;
                    @include font(20px, 600, normal, normal);
                    margin-bottom: 20px;
                }
                form {
                    input {
                        width: 40%;
                    }
                }
                .filter {
                    .filter-btns {
                        @include flexCustom(flex, center, center);
                        .btn-group {
                            button {
                                color: #2096ff !important;
                            }
                        }
                    }
                }
            }
            .list-books {
                .book {
                    .book-img {
                        img {
                            width: 215px;
                            height: 300px;
                        }
                    }
                    box-shadow: 10px 10px 8px #888888;
                    background-color: #c0d8db;
                    margin-top: 30px;
                    margin-bottom: 20px;
                    border: 2px solid $blueDark;
                    padding: 20px 0 5px 0;
                    .book-info {
                        h1 {
                            @include font(35px, bold, normal, normal);
                        }
                        h3 {
                            @include font(16px, bold, normal, normal);
                            color: $blueDark;
                        }
                        .borrowBookBtn {
                            padding: 10px 20px;
                            background-color: $blueDark;
                            color: white;
                            @include font(16px, bold, normal, normal);
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}