#search {
    .body {
        .content {
            .top {
                margin-bottom: 20px;
                .heading-title {
                    color: $blueDark;
                    @include font(20px, 600, normal, normal);
                    margin-bottom: 20px;
                }
                input {
                    padding: 10px 0px 10px 20px;
                    width: 50%;
                    margin: 0 auto;
                    border-radius: 15px;
                    outline: none;
                }
            }

            .filter {
                .filter-btns {
                    @include flexCustom(flex,center,center);
                }
            }

            .list-books {
                .book {
                    margin-top: 30px;
                    margin-bottom: 20px;
                    border: 2px solid $blueDark;
                    padding: 5px 0 5px 0;

                    .book-info {
                        h1 {
                            @include font(35px, bold, normal, normal);
                        }

                        h3 {
                            @include font(16px, bold, normal, normal);
                            color: $blueDark;
                        }

                        .borrowBookBtn {
                            padding:10px 20px;
                            background-color: $blueDark;
                            color: white;
                            @include font(16px,bold, normal, normal);
                        }
                    }
                }
            }
        }
    }
}