#help {
    .body {
      
            .item {
                h6 {
                    @include font(20px, bold, normal, normal);
                }

                p{
                    @include font(16px, 300, normal, normal);
                }
            }
            
        
    }
}