#homepage, #search ,#new, #library{
    header {
        margin-bottom: 20px;
        background-color: white;
        nav {
            padding: 20px 0px;
            margin-bottom: 15px;
            background-color: $blueDark;
            .nav-left {
                ul {
                    list-style: none;
                    li {
                        margin-right: 20px;
                        a {
                            font-size: 16px;
                            color: white;
                            font-weight: 600;
                        }
                    }
                }
            }
            .nav-right {
                .login-btn {
                    padding: 10px 20px;
                    font-weight: bold;
                    font-size: 20px;
                    border-radius: 15px;
                    border: 1px solid white;
                    color: white;
                }
            }
        }
        .banner {
            img {
                max-width: 1172px;
            }
        }
    }
    .body {
        margin-bottom: 20px;
        .search,
        .info {
            padding-left: 20px;
            margin-bottom: 20px;
            .heading-title {
                color: $blueDark;
                @include font(20px, 600, normal, normal);
                margin-bottom: 20px;
            }
        }
        .search {
            input {
                width: 70%;
            }
        }
        .info {
            ul {
                li {
                    width: 40%;
                }
            }
        }
        .news {
            .heading-title {
                color: $blueDark;
                @include font(20px, 600, normal, normal);
                margin-bottom: 20px;
            }
            .post {
                img {
                    width: 100%;
                    margin-bottom: 15px;
                    ;
                }
                .title {
                    @include font(20px, bold, normal, normal);
                }
            }
        }
    }
    footer {
        height: 100px;
        @include flexCustom(flex, center, center);
        background-color: $blueDark;
        color: white;
        .content {
            @include flexCustom(flex, center, center);
            flex-direction: column;
        }
    }
}

#formLogin {
    input {
        padding: 10px 0px 10px 20px;
        width: 100%;
        border-radius: 15px;
        margin-bottom: 20px;
        outline: none;
        &:nth-child(3) {
            background-color: $blueDark;
            color: white;
        }
    }
}