    #response {
        img {
            height: 20vw;
            width: 95vw;
        }
        p,
        h6,
        h3 {
            font-weight: bold;
        }
        #header {
            text-align: center;
            margin-top: 3vw;
        }
        h3 {
            color: blue;
        }
        .form {
            margin: 2vw 6vw;
        }
        .title-div {
            margin: 2vw 0vw;
        }
        .title-box {
            display: inline;
            border-style: solid;
            background-color: rgb(73, 73, 245);
            color: white;
            padding: 0.5vw 1vw;
            margin: 2vw 0vw;
        }
        textarea {
            width: 85%;
            height: 150px;
            padding: 12px 20px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            background-color: #f8f8f8;
            resize: none;
        }
        button {
            margin-left: 1vw;
        }
        #button-group {
            margin-left: 50vw;
            margin-bottom: 3vw;
        }
    }