#rule {
    .ruleBorder {
        background-image: linear-gradient( rgb(255, 183, 0), rgb(244, 247, 112));
        border: 2px solid black;
        color: black;
        border-radius: 5px;
        width: 300px;
        height: 50px;
        margin-left: 220px;
    }
}