#rule {
    .body {
        .ruleImg {
            img {
                width: 100%;
            }
        }
        .content {
            .top {
                margin-bottom: 20px;
                .heading-title {
                    color: $blueDark;
                    @include font(50px, 600, normal, normal);
                    margin-bottom: 20px;
                }
                input {
                    padding: 10px 0px 10px 20px;
                    width: 50%;
                    margin: 0 auto;
                    border-radius: 15px;
                    outline: none;
                }
            }
            .filter {
                .filter-btns {
                    @include flexCustom(flex, center, center);
                }
            }
            .list-rules {
                .rule {
                    margin-top: 10px;
                    margin-bottom: 20px;
                    border: 2px solid $blueDark;
                    padding: 5px 0 5px 0;
                    .rule-info {
                        h3 {
                            @include font(16px, bold, normal, normal);
                            color: $blueDark;
                        }
                        h5 {
                            @include font(14px, bold, normal, normal);
                        }
                    }
                }
            }
        }
    }
}