#borrow {
    .cerficate-container {
        text-align: center;
    }
    .note {
        margin: 1vw 3vw;
    }
    .appointment {
        margin: 1vw 3vw;
    }
    .borrowBookBtn {
        margin: 1vw 3vw;
    }
}