<!doctype html>
<html lang="en">

<head>
    <title>Quản lý tài khoản</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/scss/style.css">
    <link rel='shortcut icon' type='image/x-icon' href='../assets/images/flavicon.png' />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body id="response">
    <header>
        <nav class="container">
            <div class="container-inner d-flex justify-content-between">
                <div class="nav-left d-flex align-items-center">
                    <a href="../home.html"><img src="../assets/images/homepage/logokhtn.png"></a>
                    <ul class="d-flex">
                        <li class="active-class"><a href="../home.html">Trang chủ</a></li>
                        <li class="active-class"><a href="./library.html">Thư viện</a></li>
                        <li class="active-class"><a href="./search.html">Tìm kiếm</a></li>
                        <li class="active-class"><a href="./news.html">Tin tức</a></li>
                        <li class="active-class">
                            <a  href="../layouts/help.html">Trợ giúp</a>
                        </li>
                    </ul>
                </div>

                <div class="nav-right">
                    <a href="#" class="login-btn " data-toggle="modal" data-target="#formLogin">Đăng nhập</a>
                    <div class="dropdown hide account-btn">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            1753014
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Quản lý tài khoản</a>
                            <a class="dropdown-item" href="../layouts/borrowinghistory.html">Lịch sử mượn sách</a>
                            <a class="dropdown-item log-out-btn " href="../home.html">Đăng xuất</a>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="formLogin" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title text-center">Login</h4>
                            </div>
                            <div class="modal-body">
                                <input id="username" type="text" placeholder="Tên đăng nhập">
                                <input id="password" type="password" placeholder="Mật khẩu">
                                <input id="loginBtn" type="button" value="Đăng nhập">
                                <a href="#" class="text-right">Quên mật khẩu?</a>
                                <div style="display:none; color:red" class="noti-err">Đăng nhập thất bại</div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="banner container-inner">
            <img style="width : 100%" src="../assets//images/search/banner.png" alt="">
        </div>
    </header>
    <div class="container-inner">
        <h4 style="text-decoration: underline;">Quản lý tài khoản</h4>
        <form action="" method="post" style="margin-bottom : 20px">
            <div class="form-group">
                <label for="uname">Username:</label>
                <input  type="text" class="form-control" id="uname" value="1753014" readonly="readonly" name="uname">
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
                <label for="uname">Phone number:</label>
                <input  type="text" class="form-control change-phone" id="uname" value="0949684530" name="uname">
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
                <label for="uname">Address:</label>
                <input  type="text" class="form-control change-address" id="uname" placeholder="869 Âu Cơ, Thành Phố Hồ Chí Minh"
                    name="uname">
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                        <a style="color: black;" class="card-link" data-toggle="collapse" href="#collapseOne">
                            Change Password
                        </a>
                    </div>
                    <div id="collapseOne" class="collapse hide" data-parent="#accordion">
                        <div class="card-body">
                            <form action="/action_page.php">
                                <div class="form-group">
                                    <label for="email">Current Password:</label>
                                    <input type="password" class="form-control" id="Password"
                                        placeholder="Enter Current Password" name="pswd">
                                </div>
                                <div class="form-group">
                                    <label for="pwd">New Password:</label>
                                    <input type="password" class="form-control" id="pwd"
                                        placeholder="Enter New Password" name="pswd">
                                </div>
                                <div class="form-group">
                                    <label for="pwd">Comfirm Password:</label>
                                    <input type="password" class="form-control" id="pwd" placeholder="Confirm Password"
                                        name="pswd">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

            <button id="update-account" type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal"
                style="margin-bottom : 20px">Update account</button>
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Thông báo</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            Cập nhật thông tin tài khoản thành công!
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
    <footer class="container">
        <div>
            <p class="text-center">Thư viện trường Đại Học Khoa Học Tự Nhiên</p>
            <p class="text-center">227 Nguyễn Văn Cừ, phường 4, quận 5, thành phố Hồ Chí Minh</p>
        </div>
    </footer>

    <script src="../assets/js/account.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>