<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/scss/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Thư viện KHTN</title>
</head>

<body id="homepage">
    <header class="">
        <nav class="container">
            <div class="container-inner d-flex justify-content-between">
                <div class="nav-left d-flex align-items-center">
                    <a href="#"><img src="../assets/images/homepage/logokhtn.png"></a>
                    <ul class="d-flex">
                        <li class="active-class"><a href="#" class="active">Trang chủ</a></li>
                        <li class="active-class"><a href="./library.html">Thư viện</a></li>
                        <li class="active-class"><a href="./search.html">Tìm kiếm</a></li>
                        <li class="active-class"><a href="./news.html">Tin tức</a></li>
                        <li class="active-class"><a>Trợ giúp</a></li>
                    </ul>
                </div>

                <div class="nav-right">
                    <a href="#" class="login-btn " data-toggle="modal" data-target="#formLogin">Đăng nhập</a>
                    <div class="dropdown hide account-btn">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         1753014
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Quan ly tai khoan</a>
                            <a class="dropdown-item" href="#">Lich su muon sach</a>
                            <a class="dropdown-item" href="#">Dang xuat</a>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="formLogin" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title text-center">Login</h4>
                            </div>
                            <div class="modal-body">
                                <input id="username" type="text" placeholder="Tên đăng nhập">
                                <input id="password" type="password" placeholder="Mật khẩu">
                                <input id="loginBtn" type="button" value="Đăng nhập">
                                <a href="#" class="text-right">Quên mật khẩu?</a>
                                <div style="display:none; color:red" class="noti-err">Đăng nhập thất bại</div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="banner container">
            <div class="container-inner">
                <img src="../assets/images/homepage/banner.png">
            </div>

        </div>
    </header>
    <section class="body container">
        <div class="search-info container-inner">
            <div class="row">
                <div class="col-6 search">
                    <h6 class="heading-title">Tìm kiếm nhanh</h6>
                    <input type="text" placeholder="Tên sách, tên tác giả, thể loại">
                </div>
                <div class="col-6 info">
                    <h6 class="heading-title">Truy cập</h6>
                    <ul class="d-flex flex-wrap">
                        <li><a href="./rule.html">Quy định chung</a></li>
                        <li><a href="response.html">Phản hồi</a></li>
                        <li><a>Đề xuất dành cho bạn</a></li>
                        <li><a>Liên hệ với chúng tôi</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="news container-inner">
            <h6 class="heading-title">Tin tức mới</h6>
            <div class="row">
                <div class='col-4'>
                    <div class="post">
                        <img src="../assets/images/homepage/post-image.png">
                        <h6 class="title">Công nghệ mới, kỉ nguyên mới</h6>
                        <div class="text-right">09/11/2019</div>
                    </div>
                </div>
                <div class='col-4'>
                    <div class="post">
                        <img src="../assets/images/homepage/post-image.png">
                        <h6 class="title">Công nghệ mới, kỉ nguyên mới</h6>
                        <div class="text-right">09/11/2019</div>
                    </div>
                </div>
                <div class='col-4'>
                    <div class="post">
                        <img src="../assets/images/homepage/post-image.png">
                        <h6 class="title">Công nghệ mới, kỉ nguyên mới</h6>
                        <div class="text-right">09/11/2019</div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <footer class="container">
        <div class="content">
            <p class="text-center">Thư viện trường Đại Học Khoa Học Tự Nhiên</p>
            <p class="text-center">227 Nguyễn Văn Cừ, phường 4, quận 5, thành phố Hồ Chí Minh</p>
        </div>
    </footer>
    <script src="../assets/js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>